* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

.inner_header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10rem;
  background-color: #FFF3F3;
  padding: 0 1rem 1rem 1rem;
  box-sizing: border-box; }

.logo {
  flex: 1;
  margin: 2.5rem; }

.banner-1 {
  flex: 2;
  margin: 2rem; }

header img {
  width: 85%; }

#navbar_top {
  background-color: #8E1616;
  font-size: 2.2vw;
  height: 4vw; }

#navbar_top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  #navbar_top ul li {
    float: left; }

#navbar_top a {
  display: block;
  padding: 0.8vw;
  color: #fff;
  text-decoration: none; }

#navbar_top a:hover {
  color: red;
  text-decoration: underline; }

#navbar_down {
  background-color: black;
  font-size: 2.2vw;
  height: 4vw; }

#navbar_down ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  #navbar_down ul li {
    float: left; }

#navbar_down a {
  display: block;
  padding: 0.8vw;
  color: #fff;
  text-decoration: none; }

#navbar_down a:hover {
  color: red;
  text-decoration: underline; }

form {
  padding: 1em;
  margin: 1em; }

form label {
  font-size: 1.3vw;
  font-style: bold;
  font-family: "Times New Roman"; }

.cont1 {
  background-image: url(../img/traffic.jpg);
  background-color: #cccccc;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box; }

.box {
  width: 80%;
  height: 300px;
  border: 5px double lightgray;
  background-color: lightgray;
  opacity: 0.4;
  position: center; }

#greating {
  color: black;
  font-size: 1.5em;
  text-align: center; }

.choice4 {
  display: flex;
  flex-direction: column; }

.row1 {
  display: flex;
  width: 90%; }

.row2 {
  display: flex;
  width: 90%; }

/* cont3: 2 article-lists */
.cont3 {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center; }
  .cont3 .card {
    border: 1px solid lightgray;
    width: 33%;
    height: 200px;
    margin: 1em;
    padding: 1em; }

footer {
  height: 9em;
  width: 100%;
  background-color: black; }

footer .copyrights {
  color: white;
  font-size: 1.8vw;
  font-style: bold;
  font-family: "Times New Roman";
  text-align: center; }

.inner_footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 13rem;
  background-color: black;
  padding: 0 0.1rem 0.1rem 0.1rem;
  box-sizing: border-box; }

.img_logo {
  flex: 1;
  margin: 2.5rem;
  align-self: flex-end; }

.cr_banner {
  flex: 2;
  margin: 2rem;
  justify-content: center;
  align-items: center; }

/*****************/
/*  WIDE SCREEN  */
/*****************/
@media screen and (min-width: 780px) {
  .main {
    -webkit-flex-direction: row;
    flex-direction: row; }

  .main > * {
    border-radius: 10px; } }
/*****************/
/* NARROW SCREEN */
/*****************/
@media screen and (max-width: 781px) {
  /* main-axis top to bottom */
  .main {
    -webkit-flex-direction: column;
    flex-direction: column; } }
/*****************/
/*  MOBILE SCREEN  */
/*****************/
@media screen and (max-width: 600px) {
  .row1 {
    flex-wrap: wrap;
    justify-content: space-around; }

  .row1 #name #age {
    width: 200px; }

  .row2 {
    flex-wrap: wrap;
    justify-content: space-around; }

  .row2 #select #horsepower {
    width: 200px; } }
main {
  margin: 0 auto; }

#car {
  color: white;
  font-size: 2em;
  padding: 10px; }

.cont2 {
  background-color: lightgray;
  text-align: center; }

#midl {
  font-size: 16px; }

#span {
  font-size: 22px;
  font-weight: bold; }

/*# sourceMappingURL=style.css.map */
