/*****************/
/*  WIDE SCREEN  */
/*****************/

@media screen and (min-width: 780px){
   .main {
    -webkit-flex-direction: row;
    flex-direction: row;
   }

   .main > * {
     border-radius: 10px;
   }

}


/*****************/
/* NARROW SCREEN */
/*****************/

@media screen and (max-width: 781px){

  /* main-axis top to bottom */ 
  .main {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

}



/*****************/
/*  MOBILE SCREEN  */
/*****************/

@media screen and (max-width: 600px){
  .row1 {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .row1 #name #age {
    width: 200px;
  }

  .row2 {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .row2 #select #horsepower {
    width: 200px;
  }
}